.Footer_container {
    border-top: 15px solid rgb(237, 237, 237);
    height: 200px;
    width: 100%;
}

.Footer_logo-box {
    padding: 20px 0 0 10px;
    display: flex;
    align-items: center;
    
}

.Footer_logo {
    width: 100px;
    height: 25px;
    background: #63489a;
}

.Footer_logo-text {
    padding-left: 10px;   
}

.Footer_text-box {
    padding: 30px 0 0 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: rgb(87, 87, 87);
}

.Footer_text-name {
    padding-top: 15px;
}