.Store_List_container {
    width: 220px;
    height: 220px;
    background: rgb(130, 19, 136);
    cursor: pointer;
}

.Store_List_container:hover {
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
    }
  }

.Store_List_img {
    width: 100%;
    height: 100%;
}